body{
  background-color: teal;
}

.App {
  text-align: center;
  font-size: 16px;
  margin: auto;
}

.arenaWrapper {
  margin: auto;
  display: flex;
  flex: row;
  flex-wrap: wrap;
  justify-content: space-between;
  /* background-color: turquoise; */
  width: 90%;
}

button {
  margin: 0.3rem 2rem;
  padding: 0.3rem;
}

.playerOne {
  display: inline;
  /* background-color: blue; */
}

.playerTwo {
  display: inline;
  /* background-color: tomato; */
}

.items {
  display: inline-block;
}

.items button {
  margin: 0.2rem;
}

#active {
  background-color: wheat;
}