body {
  font-family: "Titillium Web", sans-serif;
  font-family: "Spartan", sans-serif;
  font-size: 16px;
  max-width: 780px;
  margin: auto;
  background-color: whitesmoke;
  /* background}-color: rgb(88, 89, 167); */
}

.App {
  font-family: "Spartan";
  text-align: center;
  background-color: white;
  margin: auto;
}

h1 {
  font-family: "Titillium Web";
  font-size: 2.5rem;
}

button {
  margin: 0rem 0.5rem;
  padding: 0.3rem;
}

.playerOne {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: left;
  width: 100%;
  padding: 0.55rem 0;
}

.playerTwo {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: left;
  width: 100%;
  padding: 0.55rem 0;
}

.items {
  display: inline-block;
}

.items button {
  margin: 0.2rem;
}

img {
  width: 30px;
}

.actionsWrapper {
  width: 90%;
  background-color: rgb(230, 230, 230);
  display: flex;
  flex-direction: row;
  /* justify-content: right; */
  align-items: center;
  border-radius: 0.5rem;
  margin: auto;
}

.actionsMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;
  width: 26%;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 1rem;
  cursor: pointer;
  margin: 0.5rem 0.5rem;
  padding: 0.3rem;
  /* background-color: tan; */
}

.icons:hover {
  /* padding: 0.5rem; */
  /* transition: 0.6s; */
  transform: scale(1.3);
  font-weight: bold;
}

#attackHealt:hover {
  color: #b71c1c;
}

#attackArmor:hover {
  color: #0d47a1;
}


.icons p {
  margin-top: 0;
}
.icons img {
  margin-right: 0.4rem;
}
.warriors {
  width: 40%;
  display: flex;
  flex-direction: column;
}

#warrior-left {
  background-color: #2979ff;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

#warrior-right {
  background-color: #ff6a6a;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.warriors img {
  width: 45%;
  margin: 0.1rem;
  position: relative;
  z-index: 10;
}

#playerOne {
  background-color: #2979ff;
  padding: 0.2rem 0.4rem;
  border-radius: 2rem;
}

#playerTwo {
  background-color: #ff3d00;
  padding: 0.2rem 0.4rem;
  border-radius: 2rem;
}

.turnOne {
  background-color: #2979ff;
  border-radius: 1rem;
  padding: 0.3rem 0.5rem;
}

.turnTwo {
  background-color: #ff3d00;
  border-radius: 1rem;
  padding: 0.3rem 0.5rem;
}

.healt, .armor {
  background-color: #b71c1c;
  font-weight: 500;
  color: white;
  text-align: center;
  padding: 0.5rem 0.8rem;
  margin: 0 0.4rem;
  border-radius: 5rem;
}

.armor {
  background-color: #0d47a1;
}

#drainHealt,
#indicatorTwo {
  font-weight: bolder;
  font-size: 2.5rem;
  margin-top: -5.5rem;
  margin-left: 0rem;
  margin-bottom: 4rem;
  color: black;
}

.transparent {
  color: transparent;
}

.red {
  color: red;
}

#indicatorTwo,
#indicatorOne {
  color: red;
}
